$breackpoint_xxl: 1399px;
$breackpoint_xl: 1199px;
$breackpoint_md: 991px;
$breackpoint_sm: 767px;
$breackpoint_xs: 575px;

$bright-green: #99c63c;
$dark-green: #73962c;
$light-blue: #2268b4;
$dark-blue: #163463;
$almost-black: #17181a;
$main-black: black;
$footer-bg: #26282c;
$bright-red: #eb5757;
$fire-red: #ff4545;
$dark-red: #bf0219;
$light-grey: #bdbdbe;
$dark-grey: #515151;
$gray: #43464c;
$soft-grey: #f4f4f4;
$bg-white: #ffffff;

$content-width: 1250px;
$content-x-padding: 15px;
$main-font: "Lato", sans-serif;
$gotham-font: "Gotham";

$font-size-xs: 13px;
$font-size-sm: 15px;
$font-size-md: 18px;
$font-size-xl: 20px;
$font-size-xxl: 32px;
$font-size-extral: 38px;

